{:lint-as {paco.core/let clojure.core/let
           paco.core/with clojure.core/let
           paco.detail.parsers/with-seq clojure.core/let
           paco.detail.source/with-release clojure.core/with-open}}
