{:aliases
 {:dev
  {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}}}
  :bench
  {:extra-deps {com.github.strojure/parsesso {:mvn/version "1.2.2+295"}
                org.blancas/kern             {:mvn/version "1.1.0"}
                rm-hull/jasentaa             {:mvn/version "0.2.5"}
                the/parsatron                {:mvn/version "0.0.8"}}}}}
