{:paths ["src" "resources"]
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {criterium/criterium {:mvn/version "0.4.6"}}}

  :test
  {:extra-paths ["test"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha      {:mvn/version "1.87.1366"}
                lambdaisland/kaocha-cljs {:mvn/version "1.5.154"}}
   :main-opts ["-m" "kaocha.runner"]}

  :bench
  {:extra-deps {com.github.strojure/parsesso {:mvn/version "1.2.2+295"}
                org.blancas/kern             {:mvn/version "1.1.0"}
                rm-hull/jasentaa             {:mvn/version "0.2.5"}
                the/parsatron                {:mvn/version "0.0.8"}}}

  :eastwood
  {:main-opts ["-m"
               "eastwood.lint"
               {:config-files [".eastwood.clj"]}]
   :extra-deps {jonase/eastwood {:mvn/version "1.4.2"}}}}}
